@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    transition: all 0.8s ease-in-out;
}
.container {
    max-width: 1360px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
.info {
    width: 100%;
    &__navbar {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        img {
            max-height: 150px;
        }
    }
    &__date {
        display: flex;
        align-items: center;
    }
    &__date-item {
        font-size: 20px;
        font-weight: 700;
        margin-left: 30px;
        text-align: center;
        border-right: 1px solid #fff;
        padding-right: 30px;
        &:nth-child(3) {
            border-right: none;
        }
        h1 {
            text-transform: uppercase;
            color: #fff;
        }
        p {
            color: #fff;
        }
    }
    &__subtitle {
        padding: 20px 12px;
        background-color: #ffffff26;
        border-radius: 10px;
        max-width: 545px;
        text-align: center;
        h1 {
            font-size: 30px;
            font-weight: 400;
            color: #fff;
        }
    }
    &__title {
        margin: 30px 0;
        h1 {
            font-size: 48px;
            font-weight: 700;
            color: #fff;
        }
    }
    &__title-forms {
        margin: 20px 0;
        form {
            display: flex;
        }
        .input__tel {
            padding: 22px 20px;
            border-radius: 5px;
            margin-left: 24px;
            display: flex;
            align-items: center;
            &:nth-child(1) {
                margin-left: 0;
            }
        }
        .input {
            background: transparent;
            border: 1px solid #fff;
            color: #fff;
            outline: none;
            font-size: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .input__submit {
            padding: 20px 28px;
            background: linear-gradient(96.64deg, #e8474f 21.69%, #ff7a81 43.47%, #e8474f 73.5%);
            border: none;
            outline: none;
            color: #fff;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            cursor: pointer;
            &:hover {
                box-shadow: 0px 4px 2px 0px #85035799;
            }
        }
    }
    &__gift {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        padding-bottom: 120px;
    }
    &__gift-item {
        display: flex;
        align-items: center;
        background-color: #ffffff26;
        padding: 20px;
        border-radius: 10px;
        max-width: 558px;
        p {
            margin-left: 10px;
            max-width: 100%;
            font-size: 20px;
            font-weight: 300;
            color: #fff;
            span {
                font-weight: 400;
                font-style: italic;
            }
        }
    }
    &__gift-person {
        background: #ffffff99;
        border-radius: 10px;
        padding: 20px 30px;
        text-align: left;
        max-width: 300px;
        max-height: 150px;
        h1 {
            font-weight: 700;
            font-size: 18px;
        }
        p {
            font-weight: 400;
            font-size: 18px;
        }
    }
}
.sides {
    background-image: url("../img/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    margin: 90px 0;
    &__intro {
        h1 {
            text-align: center;
            font-size: 42px;
            font-weight: 700;
        }
    }
    &__card-item {
        padding: 0 64px;
    }
    &__cards {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
    &__card-info {
        box-shadow: 4px 4px 50px 0px #0000001a;
        padding: 50px;
        border-radius: 20px;
        max-height: 500px;
        height: 100%;
        p {
            font-size: 20px;
            font-weight: 400;
            margin-left: 20px;
            text-align: center;
        }
    }
    &__card-block {
        position: relative;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        .sad {
            position: absolute;
            bottom: -10px;
            // left: 45%;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            background-color: #1b1b1b;
            color: #fff;
            padding: 20px 60px;
            border-radius: 5px;
            text-align: center;
            transform: rotate(354deg);
        }
        .good {
            background: linear-gradient(115.31deg, #37c9ef -158.66%, #1169c9 69.45%);
        }
        img {
            max-height: 450px;
        }
    }
    &__card-info-text {
        display: flex;
        margin: 20px 0;
        p {
            font-size: 20px;
            font-weight: 400;
            margin-left: 20px;
            text-align: left;
        }
    }
    &__content {
        form {
            margin: 50px auto;
            display: flex;
            justify-content: center;
        }
        .input {
            border: 1px solid #1b1b1b;
        }
    }
}
.programm {
    &__content {
        position: relative;
        .book {
            position: absolute;
            bottom: -30%;
            left: -30%;
            max-width: 600px;
        }
    }
    &__title {
        h1 {
            text-align: center;
            color: #fff;
            font-size: 42px;
            font-weight: 700;
            margin: 50px 0;
        }
    }
    &__point {
        margin-left: 50px;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px 40px;
        height: 200px;
        &:first-child {
            margin-left: 0;
        }
    }
    &__points-grid {
        position: relative;
        z-index: 10000;
    }
    &__point-head {
        display: flex;
        justify-content: space-between;
    }
    &__point-body {
        display: flex;
        justify-content: right;
        margin-top: 50px;
    }
    &__point-number {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: #fff;
        color: #0f60b6;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #0f60b6;
        font-size: 12px;
        margin: 0px auto;
    }
    &__point-text {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            text-align: center;
            font-size: 22px;
            font-weight: 400;
            margin-top: 30px;
        }
    }
}
.result {
    margin: 100px 0;
    &__title {
        h1 {
            background: linear-gradient(277.41deg, #1169c9 44.25%, #37c9ef 188.12%);
            padding: 10px;
            border-radius: 20px;
            font-size: 42px;
            color: #fff;
            max-width: 350px;
            text-align: center;
        }
        p {
            font-size: 18px;
            font-weight: 300;
            margin-top: 15px;
        }
    }
    &__text-item {
        margin: 50px 0;
        p {
            font-size: 22px;
            font-weight: 300;
        }
        h1 {
            font-size: 42px;
            font-weight: 700;
        }
    }
    &__text {
        display: flex;
        justify-content: space-between;
        max-width: 70%;
    }
    &__univer {
        p {
            font-size: 32px;
            font-weight: 300;
        }
        h1 {
            font-size: 44px;
            font-weight: 700;
            margin-top: 30px;
        }
    }
    &__banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__img {
        img {
            max-width: 500px;
        }
    }
}
.info__footer {
    margin-top: -235px;
    z-index: 10000;
    position: relative;
    .info__subtitle {
        margin-top: 200px;
    }
    .info__date-item {
        text-align: left;
        margin-top: 50px;
        margin-bottom: 50px;
        &:first-child {
            margin-left: 0;
        }
        h1 {
            font-size: 34px;
        }
        p {
            font-size: 22px;
        }
    }
    .info__title-forms {
        form {
            display: flex;
            flex-direction: column;
            max-width: 376px;
            width: 100%;
        }
        .input__submit {
            text-align: center;
            margin: 0 auto;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }
}

.footer {
    padding: 50px 0;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    &__politic {
        display: flex;
        justify-content: center;
        margin: 20px auto;
    }
    a {
        text-decoration: none;
        border-bottom: 3px solid #000;
        font-size: 22px;
        font-weight: 700;
        color: #1b1b1b;
        margin-left: 50px;
    }
    p {
        font-size: 22px;
        font-weight: 300;
        color: #1b1b1b;
        margin: 10px 0;
        span {
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 940px) {
    .result__banner {
        flex-direction: column;
    }
    .sides__cards {
        flex-direction: column;
        margin: 30px 0;
    }
    .programm__point-head {
        flex-direction: column;
    }
    .programm__point-body {
        flex-direction: column;
    }
    .programm__point {
        margin: 30px 0;
    }
    .book {
        display: none;
    }
    .programm {
        padding: 130px 0;
    }
    .info__footer .info__date-item p {
        text-align: center;
    }
    .info__date {
    }
    .sides__card-item {
        margin: 70px 0;
    }
}
@media screen and (max-width: 640px) {
    .info__navbar {
        flex-direction: column-reverse;
        margin: 50px auto;
    }
    .info__logo {
        img {
            display: flex;
            justify-content: center;
            margin: 30px auto;
        }
    }
    .info__date {
        flex-direction: column;
    }
    .info__date-item {
        border-right: none;
        margin: 20px 0;
    }
    .info__title-forms {
        margin: 50px 0;
        form {
            flex-direction: column;
            width: 100%;
        }
        .input__submit {
            margin: 20px auto;
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
    .info__footer .info__date-item {
        margin-top: 0;
        margin-bottom: 0;
    }
    .info__gift-person {
        display: none;
    }
    .info__title h1 {
        font-size: 38px;
    }

    .info__footer .info__title-forms form {
        max-width: 100%;
    }
    .result__text {
        max-width: 100%;
        flex-direction: column;
    }
    .footer__politic {
        flex-direction: column;
    }
    .footer__politic-item {
        margin: 15px 0;
    }
    .footer a {
        margin: 15px 0;
    }
    .result__img img {
        max-width: 100%;
    }
    .result__text-item {
        margin: 20px 0;
    }
    .sides__content .info__title-forms {
        display: none;
    }
    .sides__card-item {
        padding: 0 0;
        margin: 100px 0;
    }

}
@media screen and (max-width: 384px) {
    .programm__point {
        padding: 10px 10px;
    }
    .sides__card-info-text p {
        font-size: 14px;
    }
    .info__title h1 {
        font-size: 28px;
    }
    .info__footer .info__date-item h1 {
        font-size: 24px;
    }
    .result__univer h1 {
        font-size: 24px;
    }
    .info__footer .info__date-item {
        text-align: center;
        margin: 15px 0;
    }
}